{% extends 'CoreBundle::layout.html.twig' %}

{% set path = app.request.getSchemeAndHttpHost() ~ path('gs_feedback_answer', {'slug': feedback.getToken.getString}) %}

{% block body %}
<h1>{{ feedback.stringTitle|capitalize }}</h1>
{% if feedback.stringName != null %}
    <h4>À l'attention de {{feedback.stringName}}</h4>
{% endif %}
<a href="{{ path('gs_feedback_fb_edit', {'setId': setId, 'id': feedback.id}) }}"><button type="button" class="btn btn-outline-primary">Modifier</button></a>
<a href="{{ path('gs_feedback_fb_confirm_delete', {'setId': setId, 'id': feedback.id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a><br>
<br>
Lien à envoyer pour répondre au questionnaire : <a href="{{path}}">{{ path }}</a>
<br>
État :
    {% if feedback.isSubmitted %}<b class="text-success">{% else %}<b class="text-danger">{% endif %}
        {{ feedback.stringState }}
    </b>

<br><br>
<a href="{{ path('gs_feedback_fbSet_view', {'id': setId})}}">
Retour aux questionnaires
</a>
{% endblock %}
