{% extends 'CoreBundle::layout.html.twig' %}

{% set path = app.request.getSchemeAndHttpHost() ~ path('gs_feedback_answer', {'slug': feedback.getToken.getString}) %}

{% block main %}
{% include 'CoreBundle::topTitle.html.twig' with {'title': feedback.stringTitle, 'backPath': path('gs_feedback_fbSet_view', {'id': setId}), 'closeDiv': false} %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('gs_feedback_fb_edit', {'setId': setId, 'id': feedback.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary mr-2">Modifier</button></a>
        <a href="{{ path('gs_feedback_fb_confirm_delete', {'setId': setId, 'id': feedback.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button></a><br>
    </div>
</div>
{% if feedback.stringName != null %}
    <h4>À l'attention de {{feedback.stringName}}</h4>
{% endif %}
<br><br><br><br>
Lien à envoyer pour répondre au questionnaire : <a href="{{path}}">{{ path }}</a>
<br>
État :
    {% if feedback.isSubmitted %}<b class="text-success">{% else %}<b class="text-danger">{% endif %}
        {{ feedback.stringState }}
    </b>

{% endblock %}
