{% extends 'CoreBundle::layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% include 'CoreBundle::topTitle.html.twig' with {'title': 'Base de données', 'backPath': path('gs_mailer_homepage'), 'closeDiv': false} %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <a style="float: right;" href="{{ path("gs_mailer_writeMail") }}"><button type="button" class="btn btn-sm btn-outline-info">Envoyer un mail</button></a>
    </div>
    </div>

    <br>
    <div class="input-block-level">
        <input class="form-control mr-sm-2 input-block-level" type="search" placeholder="Rechercher" aria-label="Rechercher" id='searchBar' name='search' value='' autofocus autocomplete="off">
    </div>
    <div style="display: inline-block; float: left;">
        <a href="{{ path("gs_mailer_prospeMailAddManually") }}" class="text-success">Ajouter</a>
    </div>
    <div style="display: inline-block; float: right;" class="">
        <a href="#" id="advancedSearch">Recherche avancée</a>
    </div>
    <div id="advancedSearchInputs" style="display: none;">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row"><span style="float: right;">Mail du destinataire</span></th>
              <td><input class="form-control mr-sm-2 input-block-level" type="search" placeholder="Adresse mail" id='recipientEmailInput' value=''></td>
            </tr>
            <tr>
              <th scope="row"><span style="float: right;">Nom de l'expéditeur</span></th>
              <td><input class="form-control mr-sm-2 input-block-level" type="search" placeholder="Expéditeur" id='fromInput' value=''></td>
            </tr>
            <tr>
              <th scope="row"><span style="float: right;">Date</span></th>
              <td>{{ form_widget(form.sentDate) }}</td>
            </tr>
            <tr>
              <th scope="row"><span style="float: right;">Statut</span></th>
              <td>
                  <div class="d-inline-flex">
                      <input type="checkbox" id="toggleStateSelectorAS" onclick="toggleStateSelectorAS()"></input>
                  </div>
                  <div class="d-inline-flex">
                      <label for="stateSelectorCheckbox">Filtrer par statut</label>
                  </div>
                  <div id="stateSelectorASContainer">
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div id="stateSelectorContent" style="display: none;">
        {{ form_widget(form.stateSelector) }}
    </div>

    <br><br>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <!-- <th>#</th> -->
          <th id="toggleSort0" style="cursor: pointer;">Envoyé à <span style="float: right;" id="sortIcone0"></span></th>
          <th id="toggleSort1" style="cursor: pointer;">Envoyé par <span style="float: right;" id="sortIcone1"></span></th>
          <th id="toggleSort2" style="cursor: pointer;">Envoyé le <span style="float: right;" id="sortIcone2"></span></th>
          <th id="toggleSort3" style="cursor: pointer;">Statut<span style="float: right;" id="sortIcone3"></span></th>
        </tr>
      </thead>
      <tbody id="body">
      </tbody>
    </table>
    <span style="margin: auto;" id="loader"></span>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">

        //Index stockant les codes de tris
        //Encodage : +/- 2 : tri inactif sur la colonne
        //           +/- 1 : tri actif sur la colonne
        //           + : ordre croissant
        //           - : ordre décroissant
        // Encoder le tri inactif avec +/- 2 au lieu de 0 permet de revenir à l'état précédent (en divisant par 2, le signe est conservé)
        var sortCode = [2, 2, 1, 2];

        // Index qui à un nom d'état associe son id
        // est récupéré via le controlleur et twig
        var stateIndex = {{ stateIndex|json_encode|raw }};

        // On clone le sélecteur d'état pour le formulaire de la recherche avancée
        $selector = $('#database_stateSelector').clone().prop('id', 'database_clonedStateSelectorAS');
        $('#stateSelectorASContainer').append($selector);

        // var toggleStateSelectorAdvancedSearch = false;
        function toggleStateSelectorAS(){
            if($("#toggleStateSelectorAS:checked").length>0)
                $("#database_clonedStateSelectorAS").css("display", "block");
            else
                $("#database_clonedStateSelectorAS").css("display", "none");
        }
        toggleStateSelectorAS();


        function refreshIcones()
        {
            var downInactiveSortIcone = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEQSURBVGhD7dE/bsIwHMXxdOzIwNahEircg61TT9Ahav6O2bkFC/eoeqN2YmRhKn2I35OiiCBMsRNL7yNZSWzF8VdJRERERETkqGmaxzzPZ/Y4iDRNp2VZvtijO7z8jIhtURQHjDWmHk4r4eD7rxi74xlwng+bdoMN3i2CY4PpYDEWsef3cf9lS27qup7g5e9WSLCYbgTGL/7Imy27y7Jsjk1+Wht6jzkXgXPktny7kDHeIihEjPcI8hkTLIJ8xASPoHvGDBZB94gZPIL+EzOaCLolZnQRVFXVAoe5Kma0EXRNzOgj6FJMNBHUE/MZVQT1xMQVQT0xcUVQJybOCMLhnxCxwnVpUyIiIiIiIidJ8gd/AJ3nH1F3rAAAAABJRU5ErkJggg==";

            var downActiveSortIcone =
            "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAKISURBVGhD7ZjNahNRFMdT63dFKUh3vkHBR1Bw4dK1S124cCMt1aoURVRERUXdiAilUERUREXbioq0FNyI4MKH8AHsqib+7j3nWkOSOXeSmUkK9weHM7nnf77CNJO0lkgkEolEIpGolnq9fhC7j51sNBpDetw3mOMI9gA7pkc2DH6YhN94D9ePcVs0XDn0P4GtyzR+nikNdQZd0xIBzmZxwyqrDHqeonfdD/EfmcsQPIS1LBEgNo+rbBn6ncZalggQmlTpBpwPE/glks6geYbbqmmlQZ8zWMclHIT/YOOaInAw4gKqyQTdS9x2TS0c6p+VTjZoj2raBhxe07gJ2je4wpeh7gXpYIP2C671VudwiOA9r4oA7XvcTk3vGepdlso2aFewEU1tD4I7qjdBu4TbraldQ508d8OyuUQA4W3NM0H7Cdf1MuTflEo2aN3tlK8XSbck3QbtMm6PpkaB3t3Kd32BCNB+xnX3hpGc591axfZqaibI3RIPJdOmpyUCFLkh5WzQfsXt09S2EHdLPPIJEaD9iOv579BDsetSNopv2KimNsG5e/A+8aoI0H7AFbNEgKJ5Plm+4/ZrqofXbok5L4gA7RK2S9OLhcJXtY8J2h/YmMvjpVviqURs0LqP9cKeUW2hyRVpZ4P2J3aAy+dyYoN+EVfuEgGaXZK2NmjX9NIE7QK2Q9tUQ55lYqDeO1xpX0YzofmMjNEbfV0iwBAXZZzuIP8trr9LBBjkvJ8qJyzxGjcYSwQYalrGiwP9K9xgLRFguHMyZjYDvUSAIadk3PYQL/WncqEw7KSM3QznL3DbVLY5YOgJGf8f7ule+n9gSoFljmPuy5/7Pb4"+"5l0gkEolEIlE5tdpfrYEtOy+vYhQAAAAASUVORK5CYII=";

            var upInactiveSortIcone =
            "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEfSURBVGhD7dc9agJBGMbx1UKwsLCMZUBzEY+QxS7Fsp/ldimEPUZyAotAPE/KNB7AE+gTeF8YcRecZGecDc8PXnBndHb/WG1EREREREQ9GRVFsazreirXwxPH8STP8w/MCfOdpulKtoZDIvYSoXMYVExHxLBi2iKyLDua15iwYzoivpIkWeDzu7mOCTOmKwLzIF8ZYS3smBsiVLgxFhEqvJhfRKhwYv4QoVpjyrJ8kn33eohQ94vpMUL5j3EQofzFOIxQ7mM8RCh3MR4jVP8xTdOM8cCf5qGOI1RrTFVVj7JvB292z+ZhniLUVQzuvZM9O/jh2jjEZ4S6iMH932TdHg7YYLb4W+ey5NvPO/8LnuEVrwMzWSMiIiIiov8gis5rDa6nReGBiQAAAABJRU5ErkJggg==";

            var upActiveSortIcone =
            "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAKASURBVGhD7ZZLS1VRGIaPhVFB2MUSgoggEIIG0aBZaEYZFdHtD/QDIkIiJISKKBX7BRI0aFDUpIHgpEE0CLoHFQ0iCCIihILuxaln7/XucnuOe61z2ecc4XvgZbvXet/vokexYBiGYRhGzhSLxW40iHp1NPdg+K3o8x/B18d0NXeYuUQCZ8dlaX2Yt4eBv7jRS+FuQNbWhSG3ZS2RgOeEIq0Hw/WFLJHQkssw1/ZKlpjGSZVoPiywo8olYsgOqlTzYIid6KtmqhpqnFLJxqMlvmmWmmnKMjTtr+cSCdQcUov8odku9F29fXzEewA917sXvKfVKj9oshv9UE8f0RJblFuFnurcC94zccM8oPgeFLQEvikemxWN4b2T80exIQC8ZxWtHxTdW8ESH9AmRVNwvhzLfef0g/+corVDsX0odIn3aKOiZcG2FM9dl/CD97yi1UOR/Sh0iXdog6KZYO/Ae8clg7igaOXQKPprE7rEW9StaBD4l6DbKuEF77Ci4RA6iEKXeIPWK1oRxBeTveUq+cE7qqgfzIfQT2UzwfcarVO0KigTLTPpKvrBO6bo7OA7jPGXi2SD7xVaq2hNUG4htSZcZT94LypaCpfRx+m3vJnge4nWKFoXKLuAmjddBz94S38ynLdz8clZssH3Aq1WtK5QPlrmhuvkB2/8n8M/OFiEvL/ceJ6hLsVygTbRN/Wq6+ilR7H/ED6qy7Jw/wStlD1XaDefXldc51m5htoUSUN4wHnScP4QrZCtIdA2WuaymyAN59d5tMtanpnL8H6PxzJdNxT6zqP/eDyICFoiAfMR9ABdItSh46ZA/zbmGEKP0UjwEoZhGIZhGIaR"+"plD4C8/YEhso6qTFAAAAAElFTkSuQmCC";

            for (var i = 0; i < sortCode.length; i++) {
                switch (sortCode[i]) {
                    case 2:
                        data = downInactiveSortIcone;
                        break;
                    case 1:
                        data = downActiveSortIcone;
                        break;
                    case -2:
                        data = upInactiveSortIcone;
                        break;
                    case -1:
                        data = upActiveSortIcone;
                        break;
                    default:
                        data = "";
                        break;
                }
                $("#sortIcone"+i).html("<img src='"+data+"' width='16' height='16'>");
            }
        }
        refreshIcones();

        function toggleSortCallback(i){
            return function(){
                    if(Math.abs(sortCode[i]) == 2){
                        // Si le tri était inactif sur cette colonne
                        for (var j = 0; j < sortCode.length; j++) {
                            if(j != i && Math.abs(sortCode[j]) == 1){
                                // Tous les autres colonnes qui ne l'étaient pas deviennent inactives
                                sortCode[j] *= 2;
                            }
                            else if(j == i) {
                                // La colonne sélectionnée devient active
                                sortCode[j] /= 2;
                            }
                        }
                    }
                    else if(Math.abs(sortCode[i]) == 1){
                        // Si le tri était actif sur cette colonne
                        sortCode[i] *= -1;  //On iverse le tri et on ne touche pas aux autres
                    }
                refreshIcones();
                search();
            }
        }

        for (var i = 0; i < sortCode.length; i++) {
            $("#toggleSort"+i).on('click', toggleSortCallback(i));
        }

        var toggleAdvancedSearch = false;

        $("#advancedSearch").click(function (){
            if(toggleAdvancedSearch){
                $("#advancedSearchInputs").css("display", "none");
                $("#advancedSearch").html("Recherche avancée");
                $('#searchBar').val("");
                $('#searchBar').attr('readonly', false);
                toggleAdvancedSearch = false;
            }
            else {
                $("#advancedSearchInputs").css("display", "block");
                $("#advancedSearch").html("Recherche rapide");
                $('#searchBar').val("");
                $('#searchBar').attr('readonly', true);
                toggleAdvancedSearch = true;
            }
        });

        function getAdvancedSearchTime(){

            var year = $("#database_sentDate_year").val();
            var month = $("#database_sentDate_month").val();
            var day = $("#database_sentDate_day").val();

            //Astuce pour rajouter le 0 manquant au mois
            if(month.length==1)
                month = '0'+month;

            var string = "";

            if(year != "")
                string += year
            if(month != "")
                string += "-"+month
            if(day != "")
                string += "-"+day

            return string;
        }

        var mailList = [];


        // Stylise un état passé par chaine de caractères
        function getStyledState(state)
        {
            styledState = "<span style='color: lightgray;'>Aucune réponse</span>";
            if(state != null){
                if(state == "Pas intéressé"){
                    styledState = "<span style='color: red;'>Pas intéressé</span>";
                }
                else if(state == "Intéressé"){
                    styledState = "<span style='color: green;'>Intéressé</span>";
                }
                else if(state == "Garde le contact"){
                    styledState = "<span style='color: orange;'>Garde le contact</span>";
                }
                else if(state == "Mail erroné"){
                    styledState = "<span style='color: red;'>Mail erroné</span>";
                }
                else if(state == "En congé"){
                    styledState = "<span style='color: darkred;'>En congé</span>";
                }
            }

            return styledState;
        }

        var idIndex = []; //Dictionnaire qui à un id associe sa position dans mailList

        function refresh()
        {
            var state = "";

            $("#body").empty();
            var mail;
            for (var i = 0; i < mailList.length; i++) {
                mail = mailList[i];

                idIndex[mail.id] = i;   //Mise à jour de l'indexe

                // onclick="window.location=\'{{ path('gs_mailer_showMailDetailsRoot')}}'+'/'+mail.id+'\'"
                rowContent = "";
                // rowContent += '<tr onmouseover="">'; //style="cursor: pointer;" >';
                rowContent += mail.sentAt == null ?  '<tr style="color: #f39c12;" onmouseover="">' : '<tr onmouseover="">';
                rowContent += '<td>'+mail.recipientEmail+'</td>';
                rowContent += '<td>'+mail.userFirstName+' '+mail.userLastName+'</td>';

                if(mail.sentAt == null)
                    rowContent += '<td><img width=20px height=20px src="https://png.icons8.com/windows/50/f39c12/time.png">'+mail.scheduledDate+'</td>';
                else
                    rowContent += '<td>'+mail.sentAt+'</td>';
                rowContent += '<td id="toggleStateSelector'+mail.id+'">'+getStateDiv(mail.id, mail.state)+'</td>';
                rowContent += '</tr>';

                $("#body").append(rowContent);
            }
        }

        // Renvoie l'élément <div> à mettre dans <td> correspondant à la colonne État du mail
        // (intervient à plusieurs endroits)
        function getStateDiv(mailId, mailState)
        {
            return '<div style="cursor: pointer;" onclick="toggleStateSelector('+mailId+')">'+getStyledState(mailState)+'</div>';
        }

        function displayStateSelector(id)
        {
            var submitIcone = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAPbSURBVFhH7ZhLbExhGIZbd7VwqwiLYlu6RyokakEl3SibJk3b6WWMSXTFroRNGxKXBAkpK2zYiap055KQojuEICyomEVborTq+Y73TE6nZy7nzGAzb/LlP+e7vN/bc/7z//+0pIj/iNL29vZKbE9bW9tB7JBZa2trBN82rhcr79+CxtXYZWwYm8pgE9hDBB+IRqNLVf73EIlEtlhDj4AgNoLQYw0NDYtEVzg0NjYuoMEF7Jen4TgN+7H9XG/CKuLx+HzG8o6Ojg38Mbu5Pkv8HaNX6Fv7Q0WdP1paWlbSZNDTwISdaGpqWqGUrCB/J3VDLgf3PxnbFA4PEwHPCw/xPcYKhQOhq6trFrUxbNzDF1U4ODo7OxdC8tRD1muvUOHQgKsark/itY9ou0LBAMl5kZhdlrsggLsKGzVuxgRzcp1CuUFfq/tB3K+vr5+nUMHAOlnn9kDkbblzAwUPVPi9ubl5jdwFB/wX9RCsV43cmaGn5xadlDtvwDdXl0nwx6+mx1f1uyt3ZlDQK3E/GMvlzgtw1WLPea1r5UoC/2n1m2TMukKUkvhZBf3y5QVE7YLPWVrgfMlyM0chB/ht23TfWOZlB7JKNxmLyR0aXnE2IqBWoST4AGfjd5Ydxuty+wNCO5U4ApmLG+UOhVzEuSDWr7whufxBgh2ZHIE0mDFfXKS+plQEEWcgx05G9gQTcvmDpMMinUq3axDrwvpsp5FrGlLF2b1CaYGwHuVPyOUPEuzA6QiMxWLL5U4Cf4Mbh/ROqsgw4gxwnVHNmFz+IDGiRJuD6+VOwgSZMDdH12UWCyvOAM8N8"+"X2Qy"+"x8kbFUDE7hb7mnwE4kY+7hCiTPA8US1A3L5g4PpEpLshGHJZ+WegVSRHgssTudNW6Stvlvu9CDZ3YffcVv6xzsTPiIDizPAkZxW1O+QOz1IjHsKMjYkp0wiQ4kDtnM9Vr+P2ZYvB3rNIyoaspOwQr4gx0Ru1m0gMM/3qo+9sSNyZwcFxz2F4Y/lGQD3Yrhfq0eCubhMoeywn4YUvZHIcTuCKVQQaP+9JX6zDoVyB0X228F+fRnBMNdVCuUFiTsnXnt6V3Gn/RgzguKoh2iUD6FOoVCAx16r98k9wpyFPjQg3I85T5JxEruErVI4V5RSv4+6VxJmXI9D8PgDohpIv3jIvzGewqrtlSltBmwRZv62kmdPyn1qzmtN3cfzBo3WQd7nbSSz+Wlr4RXGHsw2/puMg5i7QzjGfQJrhy7cnMsFNKjB7H8y05pnsY/Y0UBLSb6gYQUi7SO6xvgMs6djosew99gA1m3bV6ZpUEQRReSNkpLftJoewwPDFN4AAAAASUVORK5CYII=";


            var content ='';
            content += '<div id="clonedStateSelectorContainer" class="d-inline-flex">';
            content += '</div>';
            content += '<div class="d-inline-flex">';
            // On ajpute l'icone de validation
            content += '<span id="submitState" style="cursor: pointer;" onclick="updateState('+id+')"><img src="'+submitIcone+'" width="32" height="32"></span>';
            content += '</div>';

            // On mets ça dans la case du tableau correspondante
            $('#toggleStateSelector'+id).html(content);

            // On récupère le sélecteur généré par twig dans la div cachée
            // On change l'id pour ne pas récupérer la valeur du selecteur caché lorsqu'on màj l'état
            $selector = $('#database_stateSelector').clone().prop('id', 'database_clonedStateSelector');
            // On préselectionne la bonne option
            var idToSelect = stateIndex[mailList[idIndex[id]].state];
            $selector.val(idToSelect);

            $('#clonedStateSelectorContainer').append($selector);
        }
        function hideStateSelector(id)
        {
            // On récupère l'état sélectionné
            var state = $("#database_clonedStateSelector option:selected").text();

            // On change la valeur à la main dans la case
            $('#toggleStateSelector'+id).html(getStateDiv(id, state));
        }

        var displayedStateSelector = -1;

        function toggleStateSelector(id)
        {
            if(displayedStateSelector == -1){
                // Aucun sélecteur n'est actuellement affiché
                displayStateSelector(id);   // On l'affiche
                displayedStateSelector = id;// On stocke l'id du selecteur affiché
            }
            else {
                // Un selecteur est déjà affiché
                if(displayedStateSelector != id){
                    // Si on n'a pas cliqué sur le selecteur actuellement affiché
                    var selectedState = $("#database_clonedStateSelector option:selected").val();
                    var currentState = stateIndex[mailList[idIndex[displayedStateSelector]].state];
                    // alert(selectedState);
                    // alert(currentState);
                    if(selectedState != currentState && !(currentState == undefined && selectedState == "")){
                        // Si le nouvel état est différent
                        updateState(displayedStateSelector) // On màj l'état dans la bdd (comme si on avait validé)

                    }
                    hideStateSelector(displayedStateSelector); // On cache l'ancien
                    displayStateSelector(id);   // On affiche le nouveau selecteur
                    displayedStateSelector = id; // On stocke l'id du selecteur affiché
                }
                else {
                    // Si on a cliqué sur le boutton validé (updateState() appelle alors cette fonction)
                    hideStateSelector(id); // On le cache
                    displayedStateSelector = -1; // On stocke l'id du selecteur affiché
                }
            }

            // if(displayedStateSelector){
            //     hideStateSelector(id);
            //     displayedStateSelector = false;
            // }
            // else {
            //
            //     displayStateSelector(id);
            //     displayedStateSelector = true;
            // }
        }

        function updateState(id)
        {
            var id_state = $('#database_clonedStateSelector').val();


            $.ajax({
                type: 'POST',
                url: "{{ path("gs_mailer_updateMailState") }}",
                data: {id: id, id_state: id_state},
                dataType: "json",
                error: function(){
                    alert("Erreur dans la modification de l'état");
                }
            });

            var state = $('#database_clonedStateSelector option:selected').text();
            mailList[idIndex[id]].state = state;
            toggleStateSelector(id);

        }

        function search()
        {
            var stateId = $('#database_clonedStateSelectorAS').val();
            if (stateId == "") {
                stateId = null;
            }

            var searchParameters = {
                'advancedSearch' : toggleAdvancedSearch,
                'search' : $('#searchBar').val(),
                'recipientEmail' : $('#recipientEmailInput').val(),
                'from' : $('#fromInput').val(),
                'date' : getAdvancedSearchTime(),
                'sortByState' : $("#toggleStateSelectorAS:checked").length>0,
                'stateId' : stateId,
            };

            $.ajax({
                type: 'POST',
                url: "{{ path("gs_mailer_searchIntoDatabase") }}",
                data: {searchParameters: JSON.stringify(searchParameters), sortCode: JSON.stringify(sortCode)},
                dataType: "json",
                beforeSend: function(){
                    $("#body").empty();
                    $("#loader").html("<img style='margin: auto;' src='/bundles/core/img/loading.gif'>");
                    // https://cdn.dribbble.com/users/24447/screenshots/1201310/inkling_spinner.gif
                },
                success: function(data){
                    $("#loader").empty();
                    mailList = JSON.parse(data.mailList);
                    refresh();
                }
            });
        }
        search();
        // $("#loader").html("<img src='http://img25.laughinggif.com/pic/HTTP2kua2luamEtaW1nLmNvbS9nYXdrZXItbWVkaWEvaW1hZ2UvdXBsb2FkL3MtLXFjcnF6RkJxLS0vODc0ODgxMTExMDY1MzE2NDIyLmdpZgloglog.gif'>");

        var timer;
        $(document).keydown(function(e) {
            if(e.which == 13) {
                // Déclenche la recherche
                search();
            }
            clearTimeout(timer);
        });

        $(document).keyup(function(e) {
            if(e.which != 13)
            {
                // timer = setTimeout("search()", 1000);
            }
            else {
                clearTimeout(timer);
            }
        });

    </script>
{% endblock %}
